<div class="mt-4">
    <h3 class="form-name">ĐĂNG KHÓA HỌC</h3>
    <form class="create-form" method="POST" action="/courses/store">
        <div class="mb-3">
            <label class="form-label">Tên khóa học</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="name">
        </div>
        <div class="mb-3">
            <label class="form-label">Mô tả</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="description">
        </div>
        <div class="mb-3">
            <label class="form-label">Video ID</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="videoId">
        </div>
        <div class="mb-3">
            <label class="form-label">Trình độ</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>